.waveContainer {
  // background: url(../images/wave.svg);
  width: 100%;
  overflow: hidden;
  // position: relative;
  .wave {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 40rem;
  }

  .wave .shape-fill {
    fill: rgba($dark-blue, 0.05);
  }
}

.c-orderSummary {
  z-index: 100;
  width: 40rem;
  height: 62rem;
  padding-bottom: 2rem;
  // margin: 0 auto;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba($bright-blue, 0.15), 0 2rem 1rem rgba($bright-blue, 0.05);
  text-align: center;

  &__Hero {
    background-size: cover;
    height: 20rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: url(../images/illustration-hero.svg);
  }

  &__heading {
    font-weight: 900;
    font-size: 2.5rem;
    color: $dark-blue;
    margin-top: 3.5rem;
  }
  &__infoText {
    font-weight: 500;
    color: $desaturated-blue;
    font-size: 1.5rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .m-plan {
    &__container {
      width: 78%;
      height: 15%;
      margin: 0 auto;
      padding: 2rem;
      margin-top: 2rem;
      background-color: $color-blue-light;
      border-radius: 10px;
      position: relative;
      text-align: start;
    }

    &__icon.-left {
        position:absolute;
        left: 2rem;
        width:fit-content;
        display: inline-block;
    }
    &__info {
        display: inline-block;
        position: absolute;
        left: 8.5rem;
        width: max-content;

        &-title {
            font-weight: 900;
            font-size: 1.6rem;
            margin-bottom: .5rem;
            color: $dark-blue;
        }
        &-price {
            font-weight: 500;
            font-size: 1.4rem;
            color: $desaturated-blue;
        }
    }
    &__link {
      display: inline-block;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    font-weight: 700;
    color: $bright-blue;
    &:hover, &:active {
    color: rgba($bright-blue, .7);
    text-decoration: none;

    }
    }
  }
  &__button {
      display: block;
      width: 80%;
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 1.5rem;
      background-color: $bright-blue;
      color: white;
      font-weight: 700;
      font-size: 1.4rem;
      border: none;
      border-radius: 10px;
      box-shadow: 0 1rem 2rem rgba($bright-blue, 0.15), 0 2rem 2rem rgba($bright-blue, 0.05);   

      &:hover, &:active {
      background-color: rgba($bright-blue, .8);
      cursor: pointer;
      }

      &:active {
      box-shadow: 0 1rem 1rem rgba($bright-blue, 0.25);   
      transform: translateY(.1rem);

      }

  }
  &__cancel {
      text-decoration: none;
      color: rgba($desaturated-blue, .9);
      font-weight: 900;
      font-size: 1.4rem;
      &:hover, &:active {
          color: $dark-blue;
      }
  }
}
