$color-blue-light: #f5f7ff;
$color-blue-light-2: #e0e8ff;
$dark-blue: rgb(31, 47, 86);
$desaturated-blue: rgb(114, 128, 167);
$bright-blue:rgb(56, 41, 224);


/* 
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)


*/